<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Label</key>
        <string>com.coxautodev.alks.Ec2MetaDataFirewall</string>
        <key>ProgramArguments</key>
        <array>
            <string>/bin/bash</string>
            <string>-c</string>
            <string>ifconfig lo0 alias 169.254.169.254 && pfctl -e 2>/dev/null; cat /etc/pf.anchors/com.coxautodev.alks | pfctl -a com.coxautodev.alks -f -</string>
        </array>
        <key>RunAtLoad</key>
        <true/>
        <key>WorkingDirectory</key>
        <string>/</string>
    </dict>
</plist>