# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Build and Test

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build_and_test:

    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    strategy:
      matrix:
        node-version: [20.x, 22.x, 24.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
    - uses: actions/checkout@v2
    - name: Setup Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}

    # Note: Using public npm registry to avoid JFrog Artifactory authentication issues in CI.
    # If you regenerate npm-shrinkwrap.json, make sure to use the public registry:
    #   `npm i --registry=https://registry.npmjs.org/` followed by `npm shrinkwrap`
    - name: Install dependencies
      run: npm ci --registry=https://registry.npmjs.org/
    - run: npm run build --if-present
    - name: Run tests
      run: npm test -- --no-watch

    # TODO: Fix e2e tests - currently disabled due to authentication and registry issues
    # - name: Run end-2-end tests
    #   env:
    #     REFRESH_TOKEN: ${{ secrets.ALKS_REFRESH_TOKEN }}
    #     USERNAME: ${{ secrets.ALKS_USER }}
    #   run: |
    #     make test CI_MODE=true
    #   working-directory: ./e2e
